<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Comrade | Email Confirmation</title>
    <link href="style/styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                    <center>
                                        <img class="img-responsive" src="https://drive.google.com/uc?id=0Bwm6_hhx_HenUGJqVzBPbWtqb3M" style="width:80px;height:90px;align:center">
                                    </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" align="center">
                                        <h3>Email Confirmation</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                      Please click the link below to confirm your email!
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block aligncenter">
                                        <a href="{{url}}/{{email}}?token={{token}}" class="btn-info">Confirm email address</a>
                                    </td>
                                </tr>
                              </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
